@if (isLoading) {
  <mat-spinner></mat-spinner>
} @else if (posts.length > 0 && !isLoading) {
  <mat-accordion multi="true">
    @for (post of posts; track post.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{ post.title }}
        </mat-expansion-panel-header>
        {{ post.content }}
        <mat-action-row>
          <a mat-button [routerLink]="['/edit', post.id]">EDIT</a>
          <button mat-button class="delete-btn" (click)="onDelete(post.id)">DELETE</button>
        </mat-action-row>
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else {
  <p class="post-list-not">Not posts added yet!</p>
}
